<div class="mb-3">
    <h3>Add Employee Infromation</h3>
    <pre ngNonBindable>{{empform.value | json}}</pre>
    <pre>{{empform.status}}</pre>
    <form #empform="ngForm">
        <input type="text" placeholder="Enter name" required
        class="form-control" pattern="^[A-Za-z]+$"
        [class.is-invalid]="ename.invalid && ename.touched"
        [(ngModel)] ="emp.ename" name="ename" #ename="ngModel"/>
        <!-- <p>{{ename.className}}</p> -->
        <!-- <small class="text-danger" 
        [class.d-none]="ename.valid || ename.untouched">
            Name Required
        </small> -->

        <div *ngIf="ename.touched">
            <div *ngIf="ename.errors && ename.invalid">
                <small class="text-danger" *ngIf="ename.errors['required']">
                    Name Required</small>
                    <small class="text-danger" *ngIf="ename.errors['pattern']">
                        Name should contain only alphabets</small>
            </div>
        </div>
    </form>
</div>