<!-- <div class="mb-3">
    <h3>Add Employee Infromation</h3>
    <pre ngNonBindable>{{empform.value | json}}</pre>
    <pre>{{empform.status}}</pre>
    <form #empform="ngForm">
        <input type="text" placeholder="Enter name" required
        class="form-control" pattern="^[A-Za-z]+$"
        [class.is-invalid]="ename.invalid && ename.touched"
        [(ngModel)] ="emp.ename" name="ename" #ename="ngModel"/> -->
<!-- <p>{{ename.className}}</p> -->
<!-- <small class="text-danger" 
        [class.d-none]="ename.valid || ename.untouched">
            Name Required
        </small> -->

<!-- <div *ngIf="ename.touched">
            <div *ngIf="ename.errors && ename.invalid">
                <small class="text-danger" *ngIf="ename.errors['required']">
                    Name Required</small>
                    <small class="text-danger" *ngIf="ename.errors['pattern']">
                        Name should contain only alphabets</small>
            </div>
        </div>
    </form>
</div> -->

<div class="container">
    <h2>Add Employee</h2>
    <form #empform="ngForm" (submit)="saveEmployee(empform)">
        <div class="mb-3">
            <input type="text" class="form-control" [class.errborder]="eid.invalid && eid.touched" required
                placeholder="enter id" #eid="ngModel" ngModel name="eid" />
            <div *ngIf="eid.touched">
                <div *ngIf="eid.errors && (eid.invalid)">
                    <small class="text-danger" *ngIf="eid.errors['required']">
                        Id required </small>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" [class.is-invalid]="ename.invalid && ename.touched" minlength="5"
                required placeholder="enter name" #ename="ngModel" ngModel name="ename" />
            <div *ngIf="ename.touched">
                <div *ngIf="ename.errors && (ename.invalid)">
                    <small class="text-danger" *ngIf="ename.errors['required']">
                        ename required </small>
                    <small class="text-danger" *ngIf="ename.errors['minlength']">
                        it should have minimin 5 characters</small>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <input type="email" class="form-control" [class.is-invalid]="email.invalid && email.touched" minlength="5"
                required placeholder="enter email" #email="ngModel" ngModel name="email" />
            <!-- <span>{{ename.className}}</span> -->
            <div *ngIf="email.touched">
                <div *ngIf="email.errors && (email.invalid)">
                    <small class="text-danger" *ngIf="email.errors['required']">
                        email required </small>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" [class.is-invalid]="password.invalid && password.touched"
                minlength="5" required placeholder="enter password" #password="ngModel" ngModel name="password" />
            <!-- <span>{{ename.className}}</span> -->
            <div *ngIf="password.touched">
                <div *ngIf="password.errors && (password.invalid)">
                    <small class="text-danger" *ngIf="password.errors['required']">
                        password required </small>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" [class.is-invalid]="phone.invalid && phone.touched" minlength="5"
                required placeholder="enter phone" #phone="ngModel" ngModel name="phone" />
            <!-- <span>{{ename.className}}</span> -->
            <div *ngIf="phone.touched">
                <div *ngIf="phone.errors && (phone.invalid)">
                    <small class="text-danger" *ngIf="phone.errors['required']">
                        Phone required </small>
                </div>
            </div>
        </div>
        <div ngModelGroup="address">
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="enter city" #city="ngModel" ngModel name="city" />
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="enter country" required #country="ngModel" ngModel
                    name="country" />
                <div *ngIf="country.touched">
                    <div *ngIf="country.errors && (country.invalid)">
                        <small class="text-danger" *ngIf="country.errors['required']">
                            Country required </small>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="enter zipcode" #zipcode="ngModel" ngModel
                    name="zipcode" />
            </div>
        </div>
        <div class="mb-3">
            <button type="submit">Add Employee</button>
        </div>
    </form>
</div>