<div>
    <h3>parent component! {{pcountry}}</h3>
    <select [(ngModel)]="pcountry" class="form-select mb-5">
        <option value="india">India</option>
        <option value="usa">USA</option>
        <option value="uk">UK</option>
        <option value="ireland">Ireland</option>
    </select>
    <h4>{{emp | json}}</h4>
    <p><input type="text" [(ngModel)]="emp.name" placeholder="Enter employee name" /></p>
    <p>Show Child : <input type="checkbox" [(ngModel)]="show" /></p>
    <div *ngIf="show">
        <app-child [country]="pcountry" [employee]="emp"></app-child>
    </div>
    <!-- <p>Show Emp : <input type="checkbox" [(ngModel)]="showEmp" /></p>
    <div *ngIf="showEmp">
        <app-employeelist></app-employeelist>
    </div> -->
</div>