<h3>Employees Information!!</h3>
<div *ngIf="employeesdata.length==0;else content">
    <p>No employees found!!</p>
</div>

<ng-template #content>
    <!-- <p>content goes here</p> -->
    <div *ngFor="let emp of employeesdata">
        <div class="row">
        <div class="col-md-6">
        <app-employee [employee]="emp">
            <!-- Children of app employee -->
            <button class="btn btn-primary" (click)="deleteEmp(emp.eid)">Delete</button>
            <button class="btn btn-primary" (click)="editEmp(emp.eid)">Edit</button>
            
        </app-employee>
    </div>
    <div class="col-md-6">
        <div *ngIf="showEditForm && emp.eid === editid">
            <app-empeditform></app-empeditform>
        </div>
    </div>
    </div>
<!-- <p>{{employee | json}}</p> -->

    </div>
</ng-template>
