<app-header></app-header>
<div class="container">
  <app-empform></app-empform>
  <!-- <app-employeelist></app-employeelist> -->
  <!-- <app-employee></app-employee> -->
  <!-- <app-lifecycle></app-lifecycle> -->
  <!-- <app-directives></app-directives> -->
  <!-- <app-pipes></app-pipes> -->
</div>
<app-footer></app-footer>


<!-- <h1>Angular Training</h1>-->
  <!-- string interpolation ->1-way  data binding
  data flows from .ts(BL) file to .html(View) file
  for string interpolation everything is a string or text
  -->
  <!-- <p>{{title}}</p>
  <p>{{2+2}}</p>
  <p>{{4*4}}</p>
  <p innerText={{x}}></p>
  <p [innerText]=title></p>
  <h2>isEnabled : {{isEnabled}}</h2> -->
  <!-- event handling : ()
  communication flow from view to BL
  -->
   <!--<button [disabled]="isEnabled"
  (click)="clicked()"
  class="btn btn-primary">Click Me</button>
  <br/>
  <button disabled={{isEnabled}} 
  (click)="clicked()"
  class="btn btn-primary">Click Me</button>
  <br/>
  
  2 way data binding banana in a box
  <input type="checkbox" [(ngModel)]="isEnabled"/>
  <br/>
  <h3>Username : {{username}}</h3>
  <input type="text" [value]="username" (input)="username = $any($event.target).value"/>
  <input type="text" [(ngModel)]="username"/> -->